table {
	width: 100%;
	border-bottom: 5px solid black;
	height: 500px;
}

thead {
	width: 100%;
}

tbody {
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

th {
	background-color: #505050;
	font-size: 75%;
	font-family: verdana;
	text-align: center;
	color: white;
}

td {
	font-size: 75%;
	font-family: verdana;
}

tr:hover {
	background-color: #F0F0F0;
}

table,th,td {
	border: 1px solid #505050;
	border-collapse: collapse;
	padding: 2px;
}